@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Add a New Client</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Number)
  @Html.TextBoxFor(model => model.Number)

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")
  <button type="submit" class="btn btn-primary" style="width:250px">Add New Clients</button>
}
<p>@Html.ActionLink("Show all clients", "Index")</p>